
.empty-content {
    font-size: .15rem;
    .user-info {
        display: flex;
        justify-content: space-between;
        padding: 0 .18rem;
    }
    .van-empty {
        .van-empty__image {
            transition: .1s;
        }
        // &.offline, &.loading, &.invalid, &.cancel {
        //     .van-empty__image {
        //         width: 3rem;
        //         height: 1.5rem;
        //     }
        // }
        &.empty {
            margin: .2rem 0;
            .van-empty__image {
                width: 1.24rem;
                height: 1.11rem;
            }
        }
        &.transparent_empty {
            opacity: 0;
        }
        .van-empty__bottom {
            font-size: .15rem;
            text-align: center;
            .tip-c {
                font-size: .13rem;
                color: #8F92A1;
                margin-top: .11rem;
            }
        }
    }
}