
.file-content {
    font-size: .15rem;
    .user-info {
        display: flex;
        justify-content: space-between;
        padding: 0 .18rem;
        margin-bottom: .1rem;
        .operate-box {
            display: flex;
            .van-popover__wrapper {
                margin: auto .2rem;
                min-width: 0.52rem;
            }
            .operate {
                display: flex;
                .oper-icon {
                    margin: auto .02rem;
                    width: .18rem;
                    height: .18rem;
                    position: relative;
                    top: -.01rem;
                }
                span {
                    margin: auto 0;
                    min-width: 0.3rem;
                }
            }
        }
    }
    .photo-box {
        padding: 0 .18rem;
        font-size: .13rem;
        margin-top: .24rem;
        margin-bottom: .15rem;
        position: relative;
        .photo-operate {
            font-size: .15rem;
            color: #808080;
            margin-bottom: .1rem;
            font-weight: 500;
            font-family: PingFang SC;
            display: flex;
            .last-name {

            }
            .current-name, .is_main {
                color: #1A1A1A;
            }
        }
        .photo-c {
            color: #8F92A1;
            .tip {
                color: #FF0000;
                margin-left: .06rem;
            }
        }
        .back {
            position: absolute;
            right: .18rem;
            bottom: 0;
            color: #007AFF;
        }
    }
    .van-grid {
        .van-grid-item {
            .van-grid-item__content {
                &:active {
                    background: #f8f8f8;
                }
                .describe-box {
                    font-family: PingFang SC;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: auto 0;
                    position: relative;
                    .file-name {
                        font-size: .13rem;
                        font-weight: 500;
                        color: #000000;
                        line-height: .17rem;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    .update-time, .file-size {
                        color: #808080;
                        font-size: .09rem;
                        margin-top: .05rem;
                    }
                }
                .image-container {
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    position: relative;
                }
                .image-container .image-div {
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    top: 0;
                }
            }
        }
        &.is-list {
            .van-grid-item {
                width: 100%;
                .van-grid-item__content {
                    width: 100%;
                    box-sizing: border-box;
                    align-items: flex-start;
                    padding: .16rem .18rem;
                    border-bottom: .01rem solid #e6e6e6;
                    flex-direction: row;
                    justify-content: start;
                .open-app {
                    width: 100%;
                }
                &:active {
                    background: #f8f8f8;
                }
                .van-image, .image-container {
                    width: .39rem;
                    height: .39rem;
                    margin-right: .1rem;
                }
                .describe-box {
                    width: calc(100% - .49rem);
                    .size {
                        margin-left: .05rem;
                    }
                    .van-icon {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: .16rem;
                        color: #A9AEBE;
                    }
                }
                }
                &:nth-last-child(1) {
                    .van-grid-item__content {
                        border-bottom: 0;
                    }
                }
            }
        }
        &.is-gird {
            padding: 0 .1rem;
            .van-grid-item {
                .van-grid-item__content {
                    &:active {
                        background: #f8f8f8;
                    }
                    .open-app {
                        .camouflage-btn {
                            align-items: center;
                            flex-direction: column;
                        }
                    }
                    .van-image, .image-container {
                        width: calc((100vw - .2rem) / 3 - .16rem);
                        height: calc((100vw - .2rem) / 3 - .16rem);
                    }
                    .describe-box {
                        text-align: center;
                        margin-top: .12rem;
                        width: calc((100vw - .2rem) / 3 - .16rem);
                        .update-time {
                            .size {
                                margin-top: .05rem;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
    .van-empty {
        &.transparent_empty {
            opacity: 0;
        }
    }
}

.filter-popover {
    .van-icon {
        font-size: .16rem;
        margin-right: .1rem;
    }
    .ac-empty {
        display: inline-block;
        width: .16rem;
        height: .16rem;
        margin-right: .1rem;
    }
}