.share-page-home {
  background: #fff;
  font-family: Adobe Heiti Std;
  height: 100vh;
  overflow: hidden;
  font-weight: normal;
}

.share-page-home .home-head {
  padding: .07rem .18rem;
  display: flex;
  justify-content: space-between;
  height: .56rem;
  background: #F2F2F6;
}

.share-page-home .home-head .app-box {
  display: flex;
}

.share-page-home .home-head .app-box img {
  width: .42rem;
  height: .42rem;
  margin-right: .1rem;
  border-radius: .09rem;
}

.share-page-home .home-head .app-box .des {
  color: #8F92A1;
  font-size: .13rem;
  margin-top: .05rem;
}

.share-page-home .home-head .app-box .des .des-t {
  color: #000;
  font-size: .15rem;
  margin-bottom: .05rem;
}

.share-page-home .home-head .van-button {
  margin: auto 0;
  width: .65rem;
  height: .25rem;
  background: #009CEA;
  border-radius: .13rem;
  text-align: center;
}

.share-page-home .home-body {
  height: calc(100% - .56rem);
  padding: .2rem 0;
  padding-bottom: .8rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.share-page-home .home-body .user-info {
  display: flex;
  justify-content: space-between;
  font-size: .15rem;
  padding: 0 .18rem;
}

.share-page-home .home-body .user-info .info {
  color: #009CEA;
  display: flex;
}

.share-page-home .home-body .user-info .info .van-image {
  margin: auto 0;
}

.share-page-home .home-body .user-info .info .nickname {
  margin: auto .12rem;
}

.share-page-home .home-body .user-info .operate {
  display: flex;
}

.share-page-home .home-body .user-info .operate .gird {
  margin: auto .04rem;
  width: .16rem;
  height: .16rem;
}

.share-page-home .home-body .user-info .operate span {
  margin: auto 0;
}

.share-page-home .home-body .photo-box {
  padding: 0 .18rem;
  font-size: .13rem;
  margin-top: .24rem;
  margin-bottom: .33rem;
}

.share-page-home .home-body .photo-box .photo-t {
  font-size: .15rem;
  color: #1A1A1A;
  margin-bottom: .08rem;
}

.share-page-home .home-body .photo-box .photo-c {
  color: #8F92A1;
}

.share-page-home .home-body .photo-box .photo-c .tip {
  color: #FF0000;
  margin-left: .06rem;
}

.share-page-home .home-body .van-grid .van-grid-item .van-grid-item__content {
  padding: 0;
}

.share-page-home .home-body .van-grid .van-grid-item .van-grid-item__content .van-image {
  height: 100%;
  width: 100%;
}

.share-page-home .home-body .van-empty .van-empty__image {
  width: 2.46rem;
  height: 1.4rem;
}

.share-page-home .home-body .van-empty .van-empty__bottom {
  font-size: .15rem;
  text-align: center;
}

.share-page-home .home-body .van-empty .van-empty__bottom .tip-c {
  font-size: .13rem;
  color: #8F92A1;
  margin-top: .11rem;
}

.share-page-home .home-body .my-swipe {
  height: .85rem;
  background: #f2f2f6;
  border-radius: .1rem;
  margin: .18rem .1rem;
}

.share-page-home .home-body .my-swipe .van-swipe-item {
  display: flex;
  justify-content: center;
}

.share-page-home .home-body .my-swipe .van-swipe-item img {
  width: 2.5rem;
  transform: scale(0.8);
}

.share-page-home .home-body .save-app-btn {
  width: 2.12rem;
  height: .46rem;
  color: #fff;
  background: #41507B;
  border-radius: .23rem;
  position: fixed;
  bottom: .22rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: .15rem;
}

.share-page-home .home-body .save-app-btn .van-icon__image {
  width: .25rem;
}

.share-page-home .overlay-dialog div {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: .2rem;
}
