.share-page-home {
  background: #fff;
  font-family: Adobe Heiti Std;
  height: 100vh;
  overflow: hidden;
  font-weight: normal;
}

.share-page-home .home-head {
  padding: .07rem .18rem;
  display: flex;
  justify-content: space-between;
  height: .56rem;
  background: #F2F2F6;
  margin-top: .04rem;
}

.share-page-home .home-head .app-box {
  display: flex;
}

.share-page-home .home-head .app-box img {
  width: .42rem;
  height: .42rem;
  margin-right: .1rem;
  border-radius: .09rem;
}

.share-page-home .home-head .app-box .des {
  color: #8F92A1;
  font-size: .13rem;
  margin-top: .05rem;
}

.share-page-home .home-head .app-box .des .des-t {
  color: #000;
  font-size: .15rem;
  margin-bottom: .05rem;
  font-weight: 600;
}

.share-page-home .home-head .van-button {
  margin: auto 0;
  width: .65rem;
  height: .25rem;
  background: #007AFF;
  border-radius: .13rem;
  text-align: center;
}

.share-page-home .home-body {
  height: calc(100% - .6rem);
  padding: .2rem 0;
  padding-bottom: .8rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.share-page-home .home-body .user-info {
  display: flex;
  justify-content: space-between;
  font-size: .15rem;
  padding: 0 .18rem;
}

.share-page-home .home-body .user-info .info {
  color: #007AFF;
  display: flex;
}

.share-page-home .home-body .user-info .info .van-image {
  margin: auto 0;
}

.share-page-home .home-body .user-info .info .nickname {
  margin: auto .12rem;
}

.share-page-home .home-body .user-info .operate {
  display: flex;
}

.share-page-home .home-body .user-info .operate .gird {
  margin: auto .04rem;
  width: .16rem;
  height: .16rem;
  position: relative;
  top: -.01rem;
}

.share-page-home .home-body .user-info .operate span {
  margin: auto 0;
}

.share-page-home .home-body .photo-box {
  padding: 0 .18rem;
  font-size: .13rem;
  margin-top: .24rem;
  margin-bottom: .33rem;
}

.share-page-home .home-body .photo-box .photo-t {
  font-size: .15rem;
  color: #1A1A1A;
  margin-bottom: .08rem;
  font-weight: 600;
}

.share-page-home .home-body .photo-box .photo-c {
  color: #8F92A1;
}

.share-page-home .home-body .photo-box .photo-c .tip {
  color: #FF0000;
  margin-left: .06rem;
}

.share-page-home .home-body .van-grid .van-grid-item .van-grid-item__content {
  padding: 0;
}

.share-page-home .home-body .van-grid .van-grid-item .van-grid-item__content .van-image {
  height: 100%;
  width: 100%;
  position: relative;
}

.share-page-home .home-body .van-grid .van-grid-item .van-grid-item__content .van-image .play-btn {
  width: .35rem;
  height: .35rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.share-page-home .home-body .van-empty .van-empty__image {
  width: 3rem;
  height: 1.5rem;
}

.share-page-home .home-body .van-empty.empty .van-empty__image {
  width: 1.24rem;
  height: 1.11rem;
}

.share-page-home .home-body .van-empty .van-empty__bottom {
  font-size: .15rem;
  text-align: center;
}

.share-page-home .home-body .van-empty .van-empty__bottom .tip-c {
  font-size: .13rem;
  color: #8F92A1;
  margin-top: .11rem;
}

.share-page-home .home-body .my-swipe {
  height: .85rem;
  background: #f2f2f6;
  border-radius: .1rem;
  margin: .18rem .1rem;
}

.share-page-home .home-body .my-swipe .van-swipe-item {
  display: flex;
  justify-content: center;
}

.share-page-home .home-body .my-swipe .van-swipe-item .banner-box {
  font-size: .24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.share-page-home .home-body .my-swipe .van-swipe-item .banner-box .box-title {
  font-weight: 600;
}

.share-page-home .home-body .my-swipe .van-swipe-item .banner-box .box-content {
  font-size: .13rem;
  color: #aaa;
  margin-top: .15rem;
}

.share-page-home .home-body .my-swipe .van-swipe-item .banner-box .box-content .box-btn {
  font-size: .14rem;
  margin-left: .1rem;
  padding: .01rem .06rem;
  padding-right: .1rem;
  background: #007AFF;
  color: #fff;
  border-radius: .2rem;
}

.share-page-home .home-body .my-swipe .van-swipe-item .banner-box .box-content .box-btn::after {
  content: '';
  display: inline-block;
  width: .07rem;
  height: .07rem;
  border: .01rem solid #fff;
  border-width: .01rem .01rem 0 0;
  transform: rotate(45deg);
  position: relative;
  top: -.01rem;
  right: -.02rem;
}

.share-page-home .home-body .banner-image {
  margin: .44rem 0 0 0;
  width: 100%;
}

.share-page-home .home-body .save-app-btn {
  width: 2.12rem;
  height: .46rem;
  color: #fff;
  background: #007AFF;
  border-radius: .23rem;
  position: fixed;
  bottom: .22rem;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  font-size: .15rem;
  border: 0;
}

.share-page-home .home-body .save-app-btn .van-icon__image {
  width: .25rem;
}

.share-page-home .overlay-dialog img {
  width: 100%;
}

.share-page-home .overlay-dialog .guide-btn {
  width: 1rem;
  display: flex;
  margin: 0 auto;
}

.share-page-home .mask-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.share-page-home .mask-box img {
  min-width: 100vw;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
