
.image-content {
    font-size: .15rem;
    .user-info {
        display: flex;
        justify-content: space-between;
        padding: 0 .18rem;
        .operate-box {
            display: flex;
            .van-popover__wrapper {
                margin: auto .2rem;
                min-width: 0.52rem;
            }
            .operate {
                display: flex;
                .oper-icon {
                    margin: auto .02rem;
                    width: .18rem;
                    height: .18rem;
                    position: relative;
                    top: -.01rem;
                }
                span {
                    margin: auto 0;
                    min-width: 0.3rem;
                }
            }
        }
    }
    .photo-box {
        padding: 0 .18rem;
        font-size: .13rem;
        margin-top: .24rem;
        margin-bottom: .33rem;
        position: relative;
        .photo-t {
            font-size: .15rem;
            color: #1A1A1A;
            margin-bottom: .1rem;
            font-weight: 500;
            font-family: PingFang SC;
        }
        .photo-c {
            color: #8F92A1;
            .tip {
                color: #FF0000;
                margin-left: .06rem;
            }
        }
    }
    .van-grid {
        .van-grid-item {
            .van-grid-item__content {
                padding: 0;
                .image-container, .van-image {
                    background: #f8f8f8;
                    height: 100%;
                    width: 100%;
                    position: relative;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                .video {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                .play-btn {
                    width: .5rem;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                .duration {
                    position: absolute;
                    right: .08rem;
                    bottom: .08rem;
                    font-size: .1rem;
                    color: #fff;
                    font-family: PingFang SC;
                    font-weight: bold;
                    text-shadow: 0 .01rem .01rem rgba(143, 141, 141, 0.8);
                    z-index: 1;
                }
                .image-mask {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    left: 0;
                    top: 0;
                    background: #000;
                    opacity: .8;
                    color: #fff;
                    display: flex;
                    font-size: .4rem;
                    text-shadow: 0 .01rem .01rem rgba(25, 25, 25, 0.7);
                    &.is-gird {
                        font-size: .13rem;
                    }
                    span {
                        margin: auto;
                    }
                }
            }
        }
    }
}

.image-preview-dialog {
    z-index: 33!important;
    .van-image-preview__close-icon {
        .van-icon__image {
            width: .14rem;
            height: .14rem;
        }
    }
    .van-image-preview__cover {
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1.27rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .origin-btn {
            padding: .1rem .12rem;
            height: .32rem;
            line-height: .32rem;
            background: #000000;
            opacity: 0.7;
            border-radius: .16rem;
            margin: 0 auto;
            font-size: 13px;
            font-family: Adobe Heiti Std;
            font-weight: normal;
            color: #FFFFFF;
            border: 0;
        }
        .operate-box {
            background: rgba(0, 0, 0, .45);
            height: .76rem;
            display: flex;
            justify-content: space-around;
            .save-btn, .open-btn {
            width: .65rem;
            font-size: .13rem;
            font-family: Adobe Heiti Std;
            font-weight: normal;
            color: #FFFFFF;
            text-align: center;
            margin: auto;
            .camouflage-btn {
                flex-direction: column;
            }
            img {
                width: .21rem;
                margin: auto;
                margin-bottom: .08rem;
            }
            }
        }
        .play-btn {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: .5rem;
        }
    }
    .van-image-preview__index {
        width: 100%;
        height: .44rem;
        line-height: .44rem;
        text-align: center;
        top: 0;
        background: rgba(0, 0, 0, .6);
    }
}
.image-preview-mask {
    background: #000;
    z-index: 2!important;
}