.invitation-page {
  background: #f2f2f6;
  font-family: Adobe Heiti Std;
  height: 100vh;
  overflow: hidden;
  font-size: .13rem;
  font-weight: normal;
  color: #8F92A1;
  padding: .3rem .28rem;
}

.invitation-page .invitation-head {
  font-size: .21rem;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.invitation-page .invitation-head .avatar {
  width: .5rem;
  height: .5rem;
}

.invitation-page .invitation-head .name {
  margin: .1rem 0;
  font-size: .16rem;
  color: #333;
  font-weight: 600;
}

.invitation-page .invitation-head .title {
  font-size: .13rem;
  color: #333;
  margin-top: .14rem;
}

.invitation-page .van-form {
  margin-top: .28rem;
}

.invitation-page .van-form .van-cell-group {
  background: #f2f2f6;
  margin: 0;
}

.invitation-page .van-form .van-cell-group .van-cell {
  padding: .14rem 0;
  margin-top: .08rem;
  background: #f2f2f6;
}

.invitation-page .van-form .van-cell-group .van-cell .verification-code-btn {
  background: transparent;
  color: #007AFF;
  border: 0;
  margin-left: .15rem;
}

.invitation-page .van-form .van-cell-group .van-cell.is-border {
  border-bottom: .01rem solid #d9d9d9;
}

.invitation-page .van-form .van-cell-group .van-cell::after {
  display: none;
}

.invitation-page .submit-box {
  margin-top: .4rem;
}

.invitation-page .submit-box .van-button {
  height: .46rem;
  background: #007AFF;
  opacity: 0.7;
  border-radius: .1rem;
  font-size: .15rem;
  font-family: SimHei;
  font-weight: 400;
  color: #FFFFFF;
}

.invitation-page .invitation-tips {
  margin-top: .5rem;
}

.invitation-page .invitation-tips .tip-t {
  color: #000;
  font-size: .16rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: .2rem;
}

.invitation-page .invitation-tips .tip-c {
  text-align: center;
  margin-bottom: .06rem;
  color: #999;
}

.invitation-page .invitation-tips .success, .invitation-page .invitation-tips .aready-success, .invitation-page .invitation-tips .invalid {
  color: #07C160;
  font-size: .8rem;
  display: flex;
  margin-bottom: .2rem;
}

.invitation-page .invitation-tips .success .van-icon, .invitation-page .invitation-tips .aready-success .van-icon, .invitation-page .invitation-tips .invalid .van-icon {
  margin: auto;
}

.invitation-page .invitation-tips .aready-success {
  color: #C8C9CC;
}

.invitation-page .invitation-tips .invalid {
  color: #FAAB0C;
}

.invitation-page .bot-tip {
  position: absolute;
  bottom: .25rem;
  left: 50%;
  transform: translateX(-50%);
  color: #666;
  font-size: .12rem;
}
