.share-page-login {
  background: #f2f2f6;
  font-family: Adobe Heiti Std;
  height: 100vh;
  overflow: hidden;
  font-size: .13rem;
  font-weight: normal;
  color: #8F92A1;
  padding: .3rem .28rem;
}

.share-page-login .login-head {
  font-size: .21rem;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.share-page-login .login-head .wechat-box {
  display: flex;
  justify-content: center;
  margin-bottom: .3rem;
}

.share-page-login .login-head .wechat-box img {
  width: .5rem;
  height: .5rem;
}

.share-page-login .login-head .wechat-box .dots {
  width: .24rem;
  margin: auto .13rem;
  display: flex;
  justify-content: space-between;
}

.share-page-login .login-head .wechat-box .dots span {
  width: .03rem;
  height: .03rem;
  background: #a5a5a5;
  border-radius: 50%;
}

.share-page-login .login-head .des {
  font-size: .13rem;
  color: #8F92A1;
  margin-top: .14rem;
}

.share-page-login .van-form {
  margin-top: .28rem;
}

.share-page-login .van-form .van-cell-group {
  background: #f2f2f6;
  margin: 0;
}

.share-page-login .van-form .van-cell-group .van-cell {
  padding: .14rem 0;
  margin-top: .08rem;
  background: #f2f2f6;
}

.share-page-login .van-form .van-cell-group .van-cell .verification-code-btn {
  background: transparent;
  color: #009CEA;
  border: 0;
  margin-left: .15rem;
}

.share-page-login .van-form .van-cell-group .van-cell.is-border {
  border-bottom: .01rem solid #d9d9d9;
}

.share-page-login .van-form .van-cell-group .van-cell::after {
  display: none;
}

.share-page-login .van-form .van-cell-group .agreed-checkbox .van-checkbox__icon {
  font-size: .15rem;
}

.share-page-login .van-form .van-cell-group .agreed-checkbox .van-checkbox__label {
  font-size: .13rem;
  color: #8F92A1;
}

.share-page-login .van-form .van-cell-group .agreed-checkbox .van-checkbox__label .txt {
  color: #009CEA;
}

.share-page-login .van-form .submit-box {
  margin-top: .08rem;
}

.share-page-login .van-form .submit-box .van-button {
  height: .46rem;
  background: #41507B;
  opacity: 0.7;
  border-radius: .1rem;
  font-size: .15rem;
  font-family: SimHei;
  font-weight: 400;
  color: #FFFFFF;
}

.share-page-login .wx-login-box {
  position: fixed;
  bottom: .35rem;
  left: 50%;
  transform: translateX(-50%);
}

.share-page-login .wx-login-box img {
  width: .5rem;
  height: .5rem;
  margin-top: .12rem;
}
